body {
  background-color: #607D8B;
}

form {
  margin: 100px auto;
  padding: 40px;
  background-color: #757575;
  width: 350px;
}

.error {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-family: sans-serif;
  background-color: #D32F2F;
  color: #212121;
}

label {
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  text-align: right;
  display: inline-block;
  width: 150px;
  display: inline-block;
}

input {
  margin: 5px 0;
}

input[type=submit] {
  display: block;
  width: 100px;
  height: 40px;
  margin: 20px auto;
}
